html {
	font-family: 'Raleway', sans-serif;
	color: white !important;
}

body {
	margin: 0;
	background-color: #2F3B43;
}

h1 {
	margin: auto;
	font-weight: 300;
	text-align: center;
	margin-top: 2.5%;
	font-size: 300%;
}

h2 {
	margin: auto;
	padding: 1%;
	font-weight: 300;
	font-size: 100%;
	text-align: center;
	background-color: rgba(0,0,0,0.1);
	position: absolute;
	left: 50%;
	bottom: 4%;

	transform: translateX(-50%);
}

img {
	height: 30%;
	position: absolute;
	right: 2.5%;
	bottom: 6%;
}

#list {
	margin: auto;
	margin-top: -5%;
	width: 60%;
	height: 70%;
	background-color: rgba(0,0,0,0.2);
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#itemList {
	height: 65%;
	padding: 5%;
	overflow: auto;
}

.item {
	display: inline-block;
	margin: 2.3%;
	padding: 2.5%;
	background-color: rgba(255,255,255,0.1);
	box-shadow: 1px 1px 10px 0px #090909;
	cursor: pointer;

	-webkit-transition: background-color 0.25s ease;  
	-moz-transition: background-color 0.25s ease; 
	-ms-transition: background-color 0.25s ease;
	transition: background-color 0.25s ease;
}

.item h4 {
	margin: 0;
	font-size: 170%;
	font-weight: 300;
	pointer-events: none;
}

.item h5 {
	margin: 0;
	font-size: 90%;
	font-weight: 100;
	pointer-events: none;
}

.item p {
	margin: 7% 0 0 0;
	font-weight: 300;
	pointer-events: none;
}

.item:hover {
	background-color: rgba(255,255,255,0.2);
}

#decor {
	width: 10%;
	height: 150%;
	position: absolute;
	top: -15%;
	right: 20%;

	background-color: rgba(255,255,255,0.1);

	-webkit-transform: rotate(25deg);
	-ms-transform: rotate(25deg);
	transform: rotate(25deg);
}